.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: rgb(192,64,99);
  background: linear-gradient(0deg, rgba(192,64,99,1) 0%, rgba(94,32,158,1) 100%); 
}

.TopBanner {
  background: rgb(48, 2, 79);
}

.AvatarHolder {
  background-color: rgba(255,255,255, 0.7);
}

.AvatarUsername {
  color: rgb(48,26,107);
  font-family: serif;
  font-size: 50px;
  font-size: 5vw;
}

.AvatarDelete {
  color: white;
  background-color: rgb(215, 56, 56);
}

.AvatarDelete:hover {
  background-color: rgb(206, 133, 133);
}