.App {
  text-align: center;
  background: rgb(192,64,99);
  background: linear-gradient(0deg, rgba(192,64,99,1) 0%, rgba(94,32,158,1) 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.PlayerHolder {
  overflow: auto;
  scrollbar-gutter: stable;
}
.PlayerHolder::-webkit-scrollbar {
  width: 16px;
}

.PlayerHolder::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.PlayerHolder::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 100px;
}

.TopBanner {
  background: rgb(53 13 80);
  display: flex;
  padding: 5px 10px;
  gap: 10px;
}
.TopBanner img {
  width: 32px;
}
.TopBanner p {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 3px 1px black;
  font-size: 1.25rem;
  margin-top: 2px;
}

.AvatarHolder {
  background-color: rgba(255,255,255, 0.7);
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.TextBoxes {
  width: 100px;
  flex-grow: 1;
  margin: 4px;
}

.AvatarUsername {
  color: rgb(48,26,107);
  font-weight: bold;
  font-size: 50px;
  font-size: 5vw;
  height: 36px;
  width: 100%;
}
.AvatarNote {
  width: 100%;
}

.AvatarDelete {
  color: white;
  background-color: rgb(215, 56, 56);
  right: 5px;
  top: calc(50% - 11px);
  line-height: 22px;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.AvatarDelete:hover {
  background-color: rgb(206, 133, 133);
}

* {
  transition: all 0.15s ease-in-out;
}
.AddButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

button.btn, label.btn {
  @apply font-bold py-2 px-4 rounded;
  background: rgba(255,255,255, 0.7);
}
button.btn:hover {
  background: rgba(255,255,255, 0.9);
}
button.btn:disabled, button.btn:disabled:hover {
  cursor: not-allowed;
  background: rgba(255,255,255, 0.5);
}

.ImportExportHolder {
  padding: 0.5rem 1rem;
}